/* Global Styles */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
html, body {
  height: 100%;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f6f6f6;
  font-size: 1.5rem;
  line-height: 1.4;
}

a {
  color: #3c8453;
}
a:hover {
  color: #bcaa96;
}
.btn {
  background-color: #3c8453;
  color: #f6f6f6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 4px;
  letter-spacing: 0.1em;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 7rem;
  line-height: 0.85;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2rem;
}

/* Layout */
.content-wrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 900px;
}

/* Home Page */
.home {
  background: url(../images/tech.webp) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.home .content-wrapper {
  flex: 1 0 auto;
}
.home .content-bg {
  padding: 30px;
  background: rgba(255, 255, 255, 0.9);
}

/* Resume Page */
.resume header::before {
  background: url(../images/tech.webp) center/cover no-repeat;
  content: "";
  display: block;
  height: 375px;
}
.resume-section {
  margin-bottom: 50px;
}
.resume-section h2 {
  border-bottom: 2px dashed #d3d4d6;
}
.download-link {
  font-size: 1.5rem;
  position: fixed;
  top: 5px;
  left: 5px;
}

/* Projects */
.project-item {
  margin: 30px 0;
}
.project-item img {
  width: 300px;
}

/* Work Experience */
.work-item {
  margin-block: 30px;
}
.work-details p {
  margin: 0;
}
.work-summary p:first-child {
  margin-top: 0;
}

/* Education */
.education-item {
  margin-block: 30px;
}
.education-item p {
  margin: 0;
}

/* Footer */
footer {
  background-color: #222;
  color: #d3d4d6;
  text-align: center;
  padding: 10px;
}
footer a {
  color: #bcaa96;
}
footer a:hover {
  color: #3c8453;
}
.socials {
  list-style-type: none;
  padding: 0;
}
.socials li {
  display: inline-block;
  margin-left: 10px;
}
.socials img {
  width: 32px;
}
.socials img:hover {
  opacity: 50%;
}

/* Responsive Design */
@media (max-width: 500px) {
  .resume header::before {
    height: 200px;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  .project-item img {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (min-width: 650px) and (max-width: 859px) {
  .project-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .project-item img {
    width: 100%;
  }
}

@media (min-width: 860px) {
  .work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
  }
  .project-item {
    display: flow-root;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    text-align: left;
  }
}
